@import "mixins", "normalize", "fonts", "vars";

html,
body,
#root {
    height: 100%;
    font-size: var(--font-size);
}

body {
    height: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    font-weight: 500;

    @include media-big-desktop {
        font-size: big(16);
    }
}
