@import
"mixins",
"normalize",
"fonts",
"vars";


html,
body,
#root {
    height: 100%;
    font-size: var(--font-size);
}

body {
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    color: var(--font-color);
    height: 100%;

    @include media-big-desktop {
        font-size: big(16);
    }
}