.LoginForm {
    &__input {
        margin-bottom: 20px;
    }

    &__btn {
        width: 100%;
        margin-top: 20px;
    }

    &__error {
        width: 100%;
        margin-bottom: 20px;
    }
}
