@use "app/styles/_mixins.scss" as *;

.AuthPage {
    display: flex;
    width: 100%;
    height: 100vh;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: rem(60);

        &_wrap {
            width: 100%;
            max-width: rem(460);

            @include media-big-desktop {
                max-width: big(460);
            }
        }

        a {
            font-weight: 600;
            color: var(--primary-color);
            text-decoration: none;
        }

        form {
            margin-top: 30px;

            input {
                width: 100%;
                margin-bottom: 20px;
            }
        }
    }

    &__content_desc {
        a {
            margin-left: 5px;
        }
    }

    &__bg {
        width: 50%;
        font-size: 0;
        line-height: 1;
    }

    &__pic {
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
