.Button {
    background: var(--secondary-color);
    color: #fff;
    border: 0;
    line-height: 52px;
    height: 52px;
    padding: 0 25px;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 500;
}