@use "app/styles/_mixins.scss" as *;

.Button {
    height: rem(56);
    padding: 0 rem(30);
    font-size: rem(16);
    font-weight: 500;
    line-height: rem(56);
    letter-spacing: 0.6px;
    cursor: pointer;
    border: 0;
    border-radius: rem(16);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;

    @include media-big-desktop {
        height: big(56);
        padding: 0 big(30);
        font-size: big(16);
        line-height: big(56);
        border-radius: big(16);
    }
}

.primary {
    color: #fff;
    background-color: var(--primary-color);

    &:hover {
        background-color: #7a78ff;
    }

    &:active {
        background-color: #2826c1;
    }

    &:focus-visible {
        outline: 3px solid rgb(122 120 255 / 50%);
    }

    &:disabled {
        color: #7c7f90;
        cursor: default;
        background-color: #dddedf;
    }
}

.outline {
    color: var(--primary-color);
    background-color: transparent;
    border: 2px solid var(--primary-color);

    &:hover {
        color: #fff;
        background-color: var(--primary-color);
    }
}
