.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 12px;
    background-color: var(--accent-bg-color-light);
    border-radius: 0 20px 20px 0;
    overflow: hidden;

    &__top {
        display: flex;
        padding: 0 12px;
        margin-bottom: 36px;
    }

    &__logoLink {
        font-size: 0;
    }

    &__nav {
        flex: 1;
    }

    &__navBottom {
        border-top: 1px solid var(--border-color);
        margin-top: 20px;
        padding-top: 20px;
    }

    &__bottom {
        margin-top: 20px;
    }
}
