.Layout {
    position: relative;
    display: flex;
    height: 100%;

    &__sidebar {
        width: 17%;
    }

    &__page {
        display: flex;
        flex: 1;
        flex-direction: column;
        background-color: var(--accent-secondary-color);
        overflow: auto;

        h1 {
            margin-top: 0;
        }
    }

    &__content {
        flex: 1;
        padding: 35px;
    }

    &__footer {
        padding: 20px;
        text-align: center;
        border-top: 1px solid var(--border-color);
    }
}
