.Message {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.success {
    background-color: rgba(143, 230, 107, 0.75);
    color: rgb(52, 153, 0);
}

.error {
    background-color: rgba(255, 0, 0, 0.08);
    color: red;
}