@use "app/styles/_mixins.scss" as *;

.Message {
    display: inline-flex;
    align-items: center;
    padding: rem(10);
    font-size: rem(15);
    border-radius: rem(10);

    @include media-big-desktop {
        padding: big(10);
        font-size: big(15);
        border-radius: big(10);
    }

    @include media-mobile {
        font-size: rem(14);
    }

    svg {
        margin-right: rem(8);

        @include media-big-desktop {
            margin-right: big(8);
        }
    }
}

.success {
    color: rgb(52 153 0);
    background-color: rgb(143 230 107 / 75%);
}

.error {
    color: var(--error-color);
    background-color: #fee;
}
