@use "app/styles/_mixins.scss" as *;

.Input {
    display: block;
    width: 100%;

    &__label {
        display: block;
        margin-bottom: 5px;

        span {
            color: var(--error-color);
        }
    }

    &__tag {
        display: block;
        width: 100%;
        height: rem(56);
        padding: 0 rem(30);
        line-height: rem(56);
        font-weight: 500;
        border: 1px solid #dadbdc;
        border-radius: rem(16);
        transition: border-color 0.3s;

        @include media-big-desktop {
            height: big(56);
            padding: 0 big(30);
            line-height: big(56);
            border-radius: big(16);
        }

        &:focus,
        &:focus-visible {
            border-color: var(--primary-color);
            outline: none;
        }

        &::placeholder {
            color: #a4a9b1;
        }
    }

    &__message {
        display: block;
        color: var(--error-color);
        margin-top: 5px;
        font-size: 14px;
    }

    &_error {
        .Input {
            &__tag {
                border-color: var(--error-color);
            }
        }
    }
}
